<header>
    <div class="header-container">
        <div id="logo-text" class="heading-container" title="Home page">
            <a class="logo-text" href="/">Cloud Photos</a>
        </div>
        <div class="navigation-links-container">
            {% if current_user.is_authenticated %}
                {% if current_user.is_admin %}
                <div class="link-box">
                    <a href="{{ url_for('main.adminUsersList') }}" style="color: white; text-decoration: none;">Admin Panel</a>
                </div>
                {% endif %}
                <div class="link-box"><a href="{{ url_for('auth.logout') }}" style="color: white; text-decoration: none;">Logout</a></div>
            {% else %}
                <div class="link-box"><a href="{{ url_for('auth.login') }}" style="color: white; text-decoration: none;">Login</a></div>
                <div class="link-box"><a href="{{ url_for('auth.signup') }}" style="color: white; text-decoration: none;">Sign up</a></div>
            {% endif %}
        </div>
    </div>
</header>
